// --------------------------------------------------
// Basic Styles
// --------------------------------------------------
@color-base: #fff;
@color-main: #17A086;

@control-border: 1px solid #ccc;

main {
  h1, h2, h3,
  .h1, .h2, .h3 {
   border-bottom: @control-border;
   padding-bottom: 10px; 
  } 
}