// --------------------------------------------------
// Style variables
// --------------------------------------------------

// --- Colors

// TODO: Maybe use darken or light functions to calculate colors.
@colorBase:             #fff;
@colorBaseText:         #333;
@colorBaseLight:        #ddd;
@colorBaseHeavy:        #999;
@colorMain:             #8e44ad;
@colorMainLight:        #9b59b6;
@colorMainText:         #fff;
@colorSecondary:        #2c3e50;
@colorSecondaryLight:   #34495e;
@colorSecondaryText:    #fff;