// --- Button
.ui-control-button {
  .base-colors();
  font: @font-base;
  line-height: 25px;
  padding: 3px;
  
  border: @control-border;
  background-color: @color-base;
}

.ui-control-button:hover {
  background-color: @color-base-light; 
}

.ui-control-button[type="submit"] {
  border-color: @color-main;
  background-color: @color-main-light;
  color: @color-main-text;  
}

.ui-control-button[type="submit"]:hover {
  background-color: @color-main;
}