// --- Button
.ui-control-button {
  .default();
  line-height: 25px;
  padding: 3px;
  
  border: 2px solid @colorBaseLight;
  background-color: @colorBase;
}

.ui-control-button:hover {
  background-color: @colorBaseLight; 
}

.ui-control-button[type="submit"] {
  border-color: @colorMain;
  background-color: @colorMainLight;
  color: @colorMainText;  
}

.ui-control-button[type="submit"]:hover {
  background-color: @colorMain;
}