// --- Button
.ui-control-button {
  .base-colors();
  font: @font-base;
  line-height: 25px;
  padding: 3px 20px;
  
  border: @control-border;
  background-color: @color-base;
}

.ui-control-button::-moz-focus-inner {
  border: 0;
}

.ui-control-button:hover {
  background-color: @color-base-light; 
}

.ui-control-button[type="submit"] {
  border-color: @color-main;
  background-color: @color-main-light;
  color: @color-main-text;  
}

.ui-control-button[type="submit"]:hover {
  background-color: @color-main;
}

.ui-control-button-toggle,
.ui-control-button-toggle:hover {
  position: relative;
  
  .left-icon:before {
    position: absolute;
    left: 6px;
    margin-top: -12px;
    top: 50%;
    font-family: @font-family-monospace;
    font-weight: 400;
  }
}

.ui-control-button-toggle-off,
.ui-control-button-toggle-off:hover {
  .left-icon:before {
    content: "\2717";
    color: @color-error;
  }
}

.ui-control-button-toggle-on,
.ui-control-button-toggle-on:hover {  
  .left-icon:before {
    content: "\2713";
    color: @color-success;
  }  
}

.ui-control-button-container {
  position: relative;
  
  .ui-control-menu {
    position: absolute;
    margin-top: -2px;
    top: 100%;
    left: 0;
    z-index: 100;
  }
}

.ui-control-button-dropdown-triangle {
  position: relative;
  margin-right: 40px;
  
  .left-icon:before {
    display: none;  
  }
  
  .right-icon {
    margin-left: 20px;
  }
  
  .right-icon:after {
    content: "\25BC";
    position: absolute;
    top: 4px;
    right: 15px;
  }
}