// --- Draggable
.ui-control-draggable {
  overflow: show;
  
  .ui-control-draggable-area {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 20;
  }
}

.ui-control-draggable:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.ui-control-draggable-x:hover {
  cursor: ew-resize;
}

.ui-control-draggable-y:hover {
  cursor: ns-resize;
}

.ui-control-draggable-xy:hover {
  cursor: nesw-resize;
}