// --- Formfield
.ui-controlgroup {
  margin-bottom: 20px;
  overflow-y: visible;
  
  div {
    overflow: visible !important; // To allow listbox for comboboxes...
  }
  
  label {
    display: block;
    padding: 5px 0;
    line-height: 25px;    
  }
  
  .ui-controlgroup-errortext {
    display: block;
    background-color: @color-error;
    color: @color-error-text;
    padding: 1px 5px 3px 5px;
  }
}