// --- Table
.ui-control-table {
  min-height: 100px;
  position: relative;
  
  padding-top: 27px;
  
  .ui-control-resize {
    position: absolute;
    height: 100%;
    width: 5px; 
    top: 0;
    right: 0;
  }
  
  .ui-control-draggable.ui-control-resize:hover {
    background-color: @color-base-light;
  }
  
  .ui-control-table-header {
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    width: 100%;
    height: 27px;
    border-bottom: @control-border;
    
    .ui-control-table-header-column {
      position: relative;
      padding: 3px 10px;
      border-bottom: @control-border;
      margin-bottom: -2px;
      font-weight: 600;
      
      .ui-control-column-header-label {
        position: relative;
      }
      
      .ui-control-column-header-label:after {
        position: absolute;
        right: -20px;
        top: 1px;
        font-size: 65%;
        color: @color-base-heavy;
      }
      
      .ui-control-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 300;
      }
    } 
    
    .ui-control-table-header-filtered {
      color: @color-main;
    }
    
    .ui-control-table-header-column-sortable,
    .ui-control-table-header-column-sortable-desc {      
      .ui-control-column-header-label:hover:after { content: "\25B3"; }
    }
    
    .ui-control-table-header-column-sorted-asc .ui-control-column-header-label:after { content: "\25B3"; }
    
    .ui-control-table-header-column-sorted-asc {
      .ui-control-column-header-label:hover:after { content: "\25BD"; }
    }
    
    .ui-control-table-header-column-sorted-desc .ui-control-column-header-label:after { content: "\25BD"; }
    
    .ui-control-table-header-column-sorted {
      border-bottom-color: @color-main
    }
    
    .ui-control-table-header-menu {
      min-width: 20px;
    }
  }
  
  .ui-control-table-row {
    cursor: default;
    
    .ui-control-table-row-menu {
      min-width: 20px;
    }
    
    .ui-control-table-cell {
      padding: 3px 10px;
    }
  }
  
  .ui-control-table-row-even {
    background-color: #eee;
    border-bottom: 1px solid @color-base-light;
  }
  
  .ui-control-table-row-selected {
    background-color: @color-main-light;
    color: @color-main-text;
  }
}

.ui-control-table-selectable {
  .ui-control-table-row:hover {
    background-color: @color-base-light;
  }
  
  .ui-control-table-row-selected:hover {
    background-color: @color-main;
    color: @color-main-text;
  }
}

.ui-form > .ui-control-table,
.ui-control-fieldset > .ui-control-table {
  margin-bottom: 20px;
}