// --- Textbox
.fu-textbox {
  position: relative;
  
  .fu-listbox {
    position: absolute;
    top: 100%;
    z-index: 90;
    left: 0;
    width: 100%;
    min-height: 10px;
    height: auto;
    max-height: 200px;
  }
}