// --- Textbox
.ui-control-textbox {
  .base-colors();
  font: @font-base;
  line-height: 25px;
  border: @control-border;
  padding: 3px;
}

.ui-control-textbox-container {
  border: @control-border;
  
  .ui-control-textbox {
    border: none;
  }
}

.ui-control-textbox:focus,
.ui-control-textbox-container-focused {
  border-color: @color-main-light;
}

.ui-control-textbox.ui-control-error,
.ui-control-textbox-container.ui-control-error,
.ui-control-textbox:focus.ui-control-error,
.ui-control-textbox-container-focused.ui-control-error {
  border-color: @color-error;
}